/********************************************
*********************************************
*****************ALGEMEEN********************
*********************************************
********************************************/
:root{
  --black: #000000;
  --white: #ffffff;
}

body {
  margin:0;
  height:100vh;
  display:grid;
  place-items:center;
  overflow:hidden;
}

/********************************************
*********************************************
*******************FONT**********************
*********************************************
********************************************/
@font-face{
    font-family: 'baveuse';
    src: url('..fonts/Baveuse.ttf') format(ttf);
}

/********************************************
*********************************************
*********************H1**********************
*********************************************
********************************************/
h1{
    font-family: 'baveuse';
    display: flex;
    justify-content: center;   
    color: var(--black);
    position: relative;
    font-size: clamp(4em, 10vmin, 8em);
}

/********************************************
*********************************************
***********ANIMATIE HEEN EN WEER*************
*********************************************
********************************************/
@keyframes hangen{
    0%{
      transform:rotate(0);
    }
    30%{
      transform:rotate(80deg);
    }
    40%{
      transform:rotate(40deg);
    }
    50%{
      transform:rotate(75deg);
    }
    60%{
      transform:rotate(45deg);
    }
    70%{
      transform:rotate(75deg);
    }
    80%{
      transform:rotate(45deg);
      }
    100%{
      transform:rotate(80deg);
    }
  }

span:nth-of-type(4){
  transform-origin: left;
  animation-name: hangen;
  animation-duration:4s;
  animation-delay: 3s;
  animation-fill-mode:forwards;
}

/********************************************
*********************************************
********ANIMATIE KLEINER DOOR SNIPER*********
*********************************************
********************************************/
@keyframes kleiner {
  0% {
      transform: scale(1)
  }
  50% {
      transform: scale(.3)
  }
  75% {
      transform: scale(.3)
}
  100% {
      transform: scale(1)
  }
}

h1{
  animation-name: kleiner;
  animation-duration:4s;
  animation-delay: .5s;
  animation-fill-mode:forwards;
}

/********************************************
*********************************************
*****************SNIPERSCOPE*****************
*********************************************
********************************************/

div{
	width:20em;
	aspect-ratio:1/1;
	
	background-color:transparent;
	
  background-image:
/*********************************
**********dikke lijntjes**********
**********************************/
		linear-gradient(
			var(--black), 
		  var(--black) 
    ),
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),

/*********************************
**********dunne lijntjes**********
**********************************/
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),
    linear-gradient(
      var(--black), 
		  var(--black) 
    ),
 
/*********************************
************driehoekjes***********
**********************************/
    conic-gradient(
     at center bottom,
     var(--black) 14deg,
     transparent 14deg 346deg,
     var(--black) 346deg
    ),

    conic-gradient(
     at center top,
      transparent 166deg,
      var(--black)  14deg 194deg,
      transparent 194deg
    ),

    conic-gradient(
     at center left,
      transparent 76deg,
      var(--black) 14deg 104deg,
      transparent 104deg 
    ),

    conic-gradient(
     at center right,
      transparent 254deg,
      var(--black)14deg 284deg,
      transparent 284deg 
    ),

		radial-gradient(
			transparent 50%, 
			var(--black) 50%, 
			var(--black) 70%, 
			transparent 70%
    );
	
  background-size: 
/*********************************
**********dikke lijntjes**********
**********************************/
    4em 1em,
    4em 1em,
    1em 4em,
    1em 4em,
/*********************************
**********dunne lijntjes**********
**********************************/
    4em .5em,
    4em .5em,
    .5em 4em,
    .5em 4em,

/*********************************
************driehoekjes***********
**********************************/
    1em 1.5em,
    1em 1.5em,
    1.5em 1em,
    1.5em 1em,
    
		100% 100%;
		
  background-position:
/*********************************
**********dikke lijntjes**********
**********************************/
    .5em 9.5em,
    15.9em 9.5em,
    9.5em .5em,
    9.5em 15.9em,
/*********************************
**********dunne lijntjes**********
**********************************/
    2.5em 9.75em,
    13.5em 9.75em,
    9.75em 2.5em,
    9.75em 13.5em,

/*********************************
************driehoekjes***********
**********************************/
    9.5em 6.5em,
    9.5em 12em,
    12em 9.5em,
    6.5em 9.5em,

		0 0;
	
	background-repeat:no-repeat;
}

/********************************************
*********************************************
****ANIMATIE IN BEELD KOMEN EN SCHIETEN******
*********************************************
********************************************/
div{
  position: absolute;
  font-size: clamp(.5em, 1.25vmin, 1em);
}

@keyframes inBeeldenSchieten{
  0%{
    transform: translateY(calc(50vh + 50%));
  }
  25%{
    transform: translateY(0vh);
  }
  50%{
    transform: translateY(-2.7vh);
  }
  75%{
    transform: translateY(0vh);
  }
  100%{
    transform: translateY(calc(50vh + 50%));
  }
}

div{
  animation-name: inBeeldenSchieten;
  animation-duration:5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/********************************************
*********************************************
*******************DARKMODE******************
*********************************************
********************************************/
@media (prefers-color-scheme: dark) {
  :root {
      --white: #000000;
     --black: #ffffff; 
 }
}